In [640]:
import numpy as np
import pandas as pd

In [641]:
df=pd.read_csv('Combined_Jobs_Final.csv')
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [642]:
df.info

<bound method DataFrame.info of        Job.ID  Provider Status  \
0         111         1   open
1         113         1   open
2         117         1   open
3         121         1   open
4         127         1   open
...       ...       ...    ...
84085      82         1   open
84086      83         1   open
84087      84         1   open
84088      88         1   open
84089      92         1   open

                                                    Slug  \
0                        palo-alto-ca-tacolicious-server
1        san-francisco-ca-claude-lane-kitchen-staff-chef
2      san-francisco-ca-machka-restaurants-corp-barte...
3                      brisbane-ca-teriyaki-house-server
4      los-angeles-ca-rosa-mexicano-sunset-kitchen-st...
...                                                  ...
84085  san-francisco-ca-national-japanese-american-hi...
84086       larkspur-ca-emporio-rulli-kitchen-staff-chef
84087                san-francisco-ca-onigilly-driver-84
84088  san-francisco-ca-machka-restaurants-corp-line-...
84089               san-jose-ca-kazoo-restaurant-cashier

                                                   Title            Position  \
0                                   Server @ Tacolicious              Server
1                       Kitchen Staff/Chef @ Claude Lane  Kitchen Staff/Chef
2                   Bartender @ Machka Restaurants Corp.           Bartender
3                                Server @ Teriyaki House              Server
4            Kitchen Staff/Chef @ Rosa Mexicano - Sunset  Kitchen Staff/Chef
...                                                  ...                 ...
84085  Book Keeper @ National Japanese American Histo...         Book Keeper
84086                 Kitchen Staff/Chef @ Emporio Rulli  Kitchen Staff/Chef
84087                                  Driver @ Onigilly              Driver
84088               Line Cook @ Machka Restaurants Corp.           Line Cook
84089                         Cashier @ Kazoo Restaurant             Cashier

                                             Company           City  \
0                                        Tacolicious      Palo Alto
1                                        Claude Lane  San Francisco
2                           Machka Restaurants Corp.  San Francisco
3                                     Teriyaki House       Brisbane
4                             Rosa Mexicano - Sunset    Los Angeles
...                                              ...            ...
84085  National Japanese American Historical Society  San Francisco
84086                                  Emporio Rulli       Larkspur
84087                                       Onigilly  San Francisco
84088                       Machka Restaurants Corp.  San Francisco
84089                               Kazoo Restaurant       San Jose

       State.Name State.Code  ...               Industry  \
0      California         CA  ...     Food and Beverages
1      California         CA  ...     Food and Beverages
2      California         CA  ...     Food and Beverages
3      California         CA  ...     Food and Beverages
4      California         CA  ...     Food and Beverages
...           ...        ...  ...                    ...
84085  California         CA  ...  Office Administration
84086  California         CA  ...     Food and Beverages
84087  California         CA  ...     Food and Beverages
84088  California         CA  ...     Food and Beverages
84089  California         CA  ...     Food and Beverages

                                         Job.Description  Requirements Salary  \
0      Tacolicious' first Palo Alto store just opened...           NaN   8.00
1       \r\n\r\nNew French Brasserie in S.F. Financia...           NaN   0.00
2      We are a popular Mediterranean wine bar and re...           NaN  11.00
3       ● Serve food/drinks to customers in a profess...           NaN  10.55
4      Located at the heart of Hollywood, we are one ...           NaN  10.55
...                                                  ...           ...    ...
84085  NJAHS stands for National Japanese American Hi...           NaN  20.00
84086  Weekend Brunch Line Cook \r\n● Other shifts ma...           NaN  10.55
84087  ONIGILLY (Japanese rice ball wraps) seeks outg...           NaN  11.00
84088  We are a popular Mediterranean restaurant in F...           NaN  13.00
84089   We are looking for a cashier! \r\n\r\n ● Take...           NaN  10.00

      Listing.Start  Listing.End  Employment.Type Education.Required  \
0               NaN          NaN        Part-Time                NaN
1               NaN          NaN        Part-Time                NaN
2               NaN          NaN        Part-Time                NaN
3               NaN          NaN        Part-Time                NaN
4               NaN          NaN        Part-Time                NaN
...             ...          ...              ...                ...
84085           NaN          NaN        Part-Time                NaN
84086           NaN          NaN        Part-Time                NaN
84087           NaN          NaN        Part-Time                NaN
84088           NaN          NaN        Part-Time                NaN
84089           NaN          NaN        Part-Time                NaN

                    Created.At               Updated.At
0      2013-03-12 02:08:28 UTC  2014-08-16 15:35:36 UTC
1      2013-04-12 08:36:36 UTC  2014-08-16 15:35:36 UTC
2      2013-07-16 09:34:10 UTC  2014-08-16 15:35:37 UTC
3      2013-09-04 15:40:30 UTC  2014-08-16 15:35:38 UTC
4      2013-07-17 15:26:18 UTC  2014-08-16 15:35:40 UTC
...                        ...                      ...
84085  2013-03-20 06:35:01 UTC  2014-08-16 15:35:27 UTC
84086  2013-03-20 08:06:43 UTC  2014-08-16 15:35:27 UTC
84087  2013-03-12 01:47:13 UTC  2014-08-16 15:35:27 UTC
84088  2013-07-16 08:55:22 UTC  2014-08-16 15:35:28 UTC
84089  2013-03-27 09:35:04 UTC  2014-08-16 15:35:30 UTC

[84090 rows x 23 columns]>

In [643]:
df=df[['Title', 'Job.Description']]

In [644]:
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [645]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [646]:
df=df.sample(n=10000, random_state=42)

In [647]:
df['Tags']=df['Title']+df['Job.Description']

In [648]:
df[df['Tags'].isnull()]

                                                   Title Job.Description Tags
72238  Housekeeping and Laundry Assistant @ The Evang...             NaN  NaN
10825                 Housekeeping and Laundry Assistant             NaN  NaN
32960  Customer Engagement Coordinator @ The Evangeli...             NaN  NaN
74717  Inside Sales Representative @ PROFESSIONAL EMP...             NaN  NaN
24368  Certified Nursing Assistant / Certified Medica...             NaN  NaN
44399  Staff Development Coordinator/Infection Preven...             NaN  NaN
35033  Charge Nurse - RN / LPN @ The Evangelical Luth...             NaN  NaN

In [649]:
df['Job.Description'].isnull().sum()

7

In [650]:
df['Tags'].isnull().sum()

7

In [651]:
df = df.dropna(subset=['Tags'])

In [652]:
df['Tags'].isnull().sum()

0

In [653]:
df['Tags']=df['Tags'].apply(lambda x:x.lower())

In [654]:
df.head(5)

,Title,Job.Description,Tags
64119,Site Director @ Knowledge Universe,Job Summary Knowledge Universe (KU) Site Direc...,site director @ knowledge universejob summary ...
35827,Administrative Assistant @ OfficeTeam,Ref ID: 03110-118480Classification: Secretary/...,administrative assistant @ officeteamref id: 0...
72100,Account Manager @ CHI Payment Systems,"If you&rsquo;re energetic, motivated, hardwork...",account manager @ chi payment systemsif you&rs...
46355,Outside Wholesale Sales Rep (PART-TIME) @ Rive...,OUTSIDE WHOLESALE SALES REP\r\n\r\nJob Respons...,outside wholesale sales rep (part-time) @ rive...
34166,Customer Service Rep- Help People with Hearing...,CaptionCall® Communication Assistant Imagi...,customer service rep- help people with hearing...

In [655]:
!pip install nltk

Requirement already satisfied: nltk in /Users/sharanyabasu/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/sharanyabasu/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/sharanyabasu/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/sharanyabasu/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/sharanyabasu/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

In [656]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sharanyabasu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sharanyabasu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [657]:
nltk_data_path = "/content/nltk_data"
nltk.data.path.append(nltk_data_path)

In [658]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re 

ps = PorterStemmer()

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sharanyabasu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sharanyabasu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sharanyabasu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [659]:
def clean(text):
    cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    tokens = nltk.word_tokenize(cleaned_text.lower())
    return " ".join(tokens)

In [660]:
clean('this has 84 digits a &%$@ loving lover driving actor actors ')

'this has 84 digits a loving lover driving actor actors'

In [661]:
clean('hello 78373!@#$ playing player plays 7 5 3 @')

'hello 78373 playing player plays 7 5 3'

In [662]:
df.shape

(9993, 3)

In [663]:
print(nltk_data_path)

/content/nltk_data

In [675]:
df['Tags']=df['Tags'].astype(str).apply(lambda x:clean(x))
df['Title']=df['Title'].astype(str).apply(lambda x:clean(x))
df['Job.Description']=df['Job.Description'].astype(str).apply(lambda x:clean(x))

In [676]:
df['Title']

64119                     site director knowledge universe
35827                  administrative assistant officeteam
72100                  account manager chi payment systems
46355    outside wholesale sales rep parttime river fro...
34166    customer service rep help people with hearing ...
                               ...
9255                      lifeguard merritt athletic clubs
460             customer service representative officeteam
25495      sales associate parttime ethan allen global inc
38194       part time retail merchandiser driveline retail
51620      food services worker providence health services
Name: Title, Length: 9993, dtype: object

In [677]:
df['Job.Description']

64119    job summary knowledge universe ku site directo...
35827    ref id 03110118480classification secretaryadmi...
72100    if yoursquore energetic motivated hardworking ...
46355    outside wholesale sales rep job responsibiliti...
34166    captioncall communication assistant imagine li...
                               ...
9255     we are looking for motivated and reliablenbspl...
460      ref id 01340121281classification customer serv...
25495    general objectivesnbspnbspnbspnbspnbsp nbspnbs...
38194    driveline is currently seeking motivated and c...
51620    providence is calling a 08 fte day shift food ...
Name: Job.Description, Length: 9993, dtype: object

In [678]:
df.head(3)

,Title,Job.Description,Tags
64119,site director knowledge universe,job summary knowledge universe ku site directo...,site director knowledge universejob summary kn...
35827,administrative assistant officeteam,ref id 03110118480classification secretaryadmi...,administrative assistant officeteamref id 0311...
72100,account manager chi payment systems,if yoursquore energetic motivated hardworking ...,account manager chi payment systemsif yoursquo...

In [679]:
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [680]:
tfidf=TfidfVectorizer()
matrix=tfidf.fit_transform(df['Tags'])
similarity=cosine_similarity(matrix)

In [681]:
similarity

array([[1.        , 0.07859715, 0.09979852, ..., 0.10534465, 0.06324877,
        0.06088825],
       [0.07859715, 1.        , 0.0785761 , ..., 0.06503035, 0.06273299,
        0.04259881],
       [0.09979852, 0.0785761 , 1.        , ..., 0.09276374, 0.10042046,
        0.04942201],
       ...,
       [0.10534465, 0.06503035, 0.09276374, ..., 1.        , 0.08165096,
        0.07540826],
       [0.06324877, 0.06273299, 0.10042046, ..., 0.08165096, 1.        ,
        0.04638901],
       [0.06088825, 0.04259881, 0.04942201, ..., 0.07540826, 0.04638901,
        1.        ]])

In [682]:
def recommend_job(title):
    idx=df[df['Title']==title].index[0]
    idx=df.index.get_loc(idx)
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])[1:20]
    
    for i in distances:
        print(df.iloc[i[0]].Title)

In [683]:
df['Title']

64119                     site director knowledge universe
35827                  administrative assistant officeteam
72100                  account manager chi payment systems
46355    outside wholesale sales rep parttime river fro...
34166    customer service rep help people with hearing ...
                               ...
9255                      lifeguard merritt athletic clubs
460             customer service representative officeteam
25495      sales associate parttime ethan allen global inc
38194       part time retail merchandiser driveline retail
51620      food services worker providence health services
Name: Title, Length: 9993, dtype: object

In [686]:
recommend_job('food services worker providence health services')

food services worker swedish health
food services worker swedish health
patient scheduler providence health services
distribution technician providence health services
dietary aide select specialty hospital
certified nursing assistant providence health services
certified nursing assistant medical flex unit providence health services
certified nursing assistant neurology 06 fte evenings providence health services
registered nurse labor deliverypostpartum 08 fte evenings providence health services
certified nursing assistant close observation unit providence health services
registered nurse ortho spine providence health services
patient services representative greater everett area float pool 25 fte providence health services
dietary aide food service worker lorien health systems
dietary aide food service worker lorien health systems
registered nurse medicalsurgical providence health services
social worker providence health services
radiologic technologist 06 providence health services
registered nurse acute rehab 6 fte night shift providence health services
registered nurse administrative supervisor 60fte day shift providence health services

In [687]:
recommend_job('administrative assistant officeteam')

administrative assistant officeteam
jr administrative assistant needed for growing company officeteam
administrative assistant officeteam
office assistant officeteam
administrative assistant officeteam
part time administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
are you an awesome administrative assistant officeteam
administrative assistant needed in brentwood tn officeteam
administrative assistant officeteam
seeking a strong administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam
administrative assistant officeteam

In [688]:
recommend_job('food services worker providence health services')

food services worker swedish health
food services worker swedish health
patient scheduler providence health services
distribution technician providence health services
dietary aide select specialty hospital
certified nursing assistant providence health services
certified nursing assistant medical flex unit providence health services
certified nursing assistant neurology 06 fte evenings providence health services
registered nurse labor deliverypostpartum 08 fte evenings providence health services
certified nursing assistant close observation unit providence health services
registered nurse ortho spine providence health services
patient services representative greater everett area float pool 25 fte providence health services
dietary aide food service worker lorien health systems
dietary aide food service worker lorien health systems
registered nurse medicalsurgical providence health services
social worker providence health services
radiologic technologist 06 providence health services
registered nurse acute rehab 6 fte night shift providence health services
registered nurse administrative supervisor 60fte day shift providence health services